.container {
  display: flex;
  width: 800px;
  height: 500px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.container div {
  width: 150px;
  height: 150px;
  background-color: blue;
}
